body {
  font-family: "Questrial", sans-serif;
  font-size: 14px;
  color: #16364f;
}

.weather-out {
  margin: 0px auto;
  padding: 6px 0px;
  max-width: 450px;
}

.weather {
  border: 1px solid #dadce1;
  border-radius: 20px;
  margin: 6px auto;
  padding: 6px 0px;
  max-width: 450px;
  background-image: linear-gradient(
    -225deg,
    #5d9fff 0%,
    #b8dcff 48%,
    #6bbbff 100%
  );
}

h1 {
  position: absolute;
  top: 20px;
  left: -10px;
  font-size: 22px;
  color: #5a6268;
}

.logo {
  position: relative;
  top: 5px;
  left: 65px;
}

h2 {
  font-size: 22px;
  position: relative;
  top: -10px;
}

.currentDate,
.currentHour {
  position: relative;
  top: -20px;
}

#location,
.btn btn-secondary btn-sm {
  margin: -15px auto;
}

button {
  margin: 15px auto;
}

#current-location {
  margin: 5px auto;
  position: relative;
  top: -21px;
  left: 220px;
}

ul {
  height: 15px;
  list-style-type: none;
  margin: 0px auto;
  padding: 0px 0px;
}

.getTemperature {
  font-size: 60px;
  font-weight: 10;
  color: #0e3049;
}

#weather-icon,
.day__block-image {
  display: block;
}

.weatherDescription {
  text-transform: capitalize;
  position: relative;
  top: -12px;
  left: 10px;
  font-size: 10px;
}

.currentHumidity,
.currentWindSpeed {
  font-size: 10px;
  position: relative;
  top: 20px;
  left: 10px;
}

.card {
  background-color: #e3eefc;
  padding: 0px 0px;
  margin: 0px 0px;
}
.card-body {
  margin: 0px 0px;
  height: 10;
}
.card-title {
  font-size: 10px;
}
.card-text {
  font-size: 10px;
}

.sunriseHour,
.sunsetHour {
  position: relative;
  font-size: 10px;
  top: -20px;
}

.signature {
  margin: 0px auto;
  padding: 2px 0px;
  max-width: 450px;
}
