body {
  font-family: "Questrial", sans-serif;
  font-size: 14px;
}
h1 {
  position: absolute;
  top: 25px;
  font-size: 22px;
}
h2 {
  font-size: 22px;
}
.weather {
  border: 2px solid #dadce1;
  border-radius: 20px;
  margin: 10px auto;
  padding: 10px 0px;
  max-width: 500px;
}
.logo {
  position: relative;
  top: 10px;
  left: 90px;
}
#current-location {
  position: relative;
  top: -31px;
  left: 220px;
}
.getTemperature {
  font-size: 36px;
}

.card-title {
  font-size: 14px;
}
.card-text {
  font-size: 10px;
}
.weatherDescription {
  text-transform: capitalize;
}
.sunriseHour,
.sunsetHour,
.currentHumidity,
.currentWindSpeed {
  font-size: 10px;
}

.dataBlock {
  position: relative;
  top: 8px;
}

.img {
  display: block;
}
